@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

#the-goalkeeper-and-the-plutocrat blockquote p{
	text-indent: 0;
}

#when-doctors-disagree header p:nth-child(1){
	font-variant: small-caps;
}

#when-doctors-disagree header p:nth-child(2){
	font-style: italic;
}

#concealed-art blockquote:first-of-type p{
	text-align: center;
	text-indent: 0;
}

#concealed-art blockquote:first-of-type p:first-of-type{
	font-variant: small-caps;
}

#concealed-art blockquote:first-of-type p + p{
	margin-top: .5em;
}

#concealed-art blockquote:first-of-type p + p::before{
	border-top: 1px solid;
	content: "";
	max-width: 4em;
	padding-top: .5em;
	display: block;
	margin: auto;
}
